page-home {
  #topButtons {
    display: flex;
    flex-direction: row;
  }
  #topButtons button {
    flex: 1;
  }
  .scroll-content {
    background-color: white;
    background-image: linear-gradient(white, red);
    color: black;
  }
}
